<!DOCTYPE html>
<html lang="en">

<head>
<<<<<<< Updated upstream
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rough Stock Rodeo!</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        <span role="img" aria-label="money">💸</span>
        <a href="/">Rough Stock Rodeo!</a>
      </h1>

      <nav>
        <ul class="nav justify-content-center">
           {{#if logged_in}}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/dashboard">Dashboard</a>
             <button class="no-button" id="logout">logout</button>
          </li>
           {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
           {{/if}}
          <li class="nav-item">
            <a class="nav-link" href="/signup">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>

        <!-- Conditionally render login or logout links -->
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>

    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

=======

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="Assets/style.css" />
    <script src="https://kit.fontawesome.com/44ffeca87b.js" crossorigin="anonymous"></script>

    <title>Rough Stock Rodeo</title>

</head>

<body>

    <header>
        <h1><em><strong>Rough Stock Rodeo</strong></em></h1>
        <h3><strong>Where it pays to play Rough!</strong></h3>
        <nav>
            {{#if loggedIn}}
            <a href="/dashboard">Dashboard</a>
            <a href="/eventsignup">Event Signup</a>
            <button id="logout" class="">Logout</button>
            {{else}}
            <a href="/login">Login</a>
            {{/if}}
        </nav>
    </header>

    <main>

    <section id="About ">
        <h2><strong>About Rough Stock</strong></h2>
        <p1>Rough stock is a term that describes 3 events in Rodeo- Bullriding, Bareback <br>
            riding and Saddle Bronc riding.
            Rough stock is considered by many to be the most<br>
            physically demanding events in rodeo. </p1>
    </section>

    <section id="comingToYourCity">
        <h2><strong>Coming to your city</strong></h2>
        <p2>Please check back for event updates in your area</p2>
    </section>

    {{{ body }}}

</main>

</body>

<footer></footer>

>>>>>>> Stashed changes
</html>