<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="Assets/style.css" />
    <script src="https://kit.fontawesome.com/44ffeca87b.js" crossorigin="anonymous"></script>

    <title>Rough Stock Rodeo</title>

</head>

<body>

    <header>
        <h1><em><strong>Rough Stock Rodeo</strong></em></h1>
        <h3><strong>Where it pays to play Rough!</strong></h3>
    </header>

    <section id="About ">
        <h2><strong>About Rough Stock</strong></h2>
        <p1>Rough stock is a term that describes 3 events in Rodeo- Bullriding, Bareback <br>
            riding and Saddle Bronc riding.
            Rough stock is considered by many to be the most<br>
            physically demanding events in rodeo. </p1>
    </section>

    <section id="comingToYourCity">
        <h2><strong>Coming to your city</strong></h2>
        <p2>Please check back for event updates in your area</p2>
    </section>

    <br>
    <br>

    <section id="sign-up">
        <h4>Sign up below</h4>
        <form action="/action_page.php">
            <label for="user-name">Username:</label><br>
            <input type="text" id="user-name" name="user-name"><br>
            <label for="email">Email:</label><br>
            <input type="text" id="email" name="email"><br><br>
            <label for="password">Password:</label><br>
            <input type="text" id="password" name="password"><br><br>
            <label for="event">Choose event: </label><br>
            <input list="event" name="event">
            <datalist id="event">
                <option value="Bareback">
                <option value="SaddleBronc">
                <option value="Bullriding">
            </datalist><br>
            <input type="submit" value="Submit">
        </form>
    </section>

</body>

<footer></footer>

</html>