<section class="">
    <h2>Create New Post</h2>

    <form class="new-post-form box">
        <div class="field">
            <label class="label" for="post-name">Name</label>
            <input class="input is-primary" type="text" id="post-nameGetter" name="post-name" />
        </div>
        <div class="field">
            <label class="label" for="post-event">Event</label>
            <input class="input is-primary" type="text" id="post-eventGetter" name="post-event" />
        </div>
        <button type="submit" class="btn button is-primary">Create</button>
    </form>
</section>

{{!-- {{#if posts.length}} --}}
<section style="background-color:aqua" class="">
    <h2>Your Posts</h2>
    <ol>
        {{#each posts as |post|}}
        <li>Name: {{post.name}}</li>
        <li>Event: {{post.event}}</li>
        <li>
            <a href="/dashboard/edit/{{post.id}}" class="edit-event button">Edit</a>
            <a href="/api/posts/{{post.id}}" class="delete-post-btn button">Delete</a>
        </li>
        {{/each}}
    </ol>
</section>
{{!-- {{/if}} --}}

<script src="/javascript/add-post.js"></script>
<script src="/javascript/logout.js"></script>