
<!-- template for input for creating a new post -->
<section class="">
    <h2><strong>Create New Post</strong></h2>

    <form class="new-post-form box">
        <div class="field">
            <input type="text" id="post-nameGetter" name="post-name" placeholder="First Name" />
        </div>
        <div class="field">
            <input type="text" id="post-eventGetter" name="post-event" placeholder="Event" />
        </div>
        <button type="submit" class="btn button is-warning is-small is-rounded">Create</button>
    </form>
</section>

<!-- template for posts -->
{{!-- {{#if posts.length}} --}}
<section style="background-color:rgb(9, 240, 39)" class="text has-text-centered">
    <h2><strong>Your Posts</strong></h2>
    <ol>
        {{#each posts as |post|}}
        <li class="text is-size-5 has-text-danger-dark">Name: {{post.name}}</li>
        <li class="text has-text-warning-dark">Event: {{post.event}}</li>
        <li>
            <a href="/dashboard/edit/{{post.id}}" class="edit-event button is-dark is-rounded">Edit</a>
            <a href="/api/posts/{{post.id}}" class="delete-post-btn button is-danger is-light is-rounded">Delete</a>
        </li>
        {{/each}}
    </ol>
</section>

<!-- linking to static javacript for addpost, with absolute path -->

<script src="/javascript/add-post.js"></script>

<!-- linking to static javacript for login, with absolute path, so user can logout any time -->

<script src="/javascript/logout.js"></script>