<section id="sign-up">
    <h4>Sign up below</h4>
    <form action="/action_page.php">
        <label for="user-name">Username:</label><br>
        <input type="text" id="user-name" name="user-name"><br>
        <label for="email">Email:</label><br>
        <input type="text" id="email" name="email"><br><br>
        <label for="password">Password:</label><br>
        <input type="text" id="password" name="password"><br><br>
        <label for="event">Choose event:</label><br>
        <input list="event" name="event">
        <datalist id="event">
            <option value="Barbeback">
            <option value="SaddleBronc">
            <option value="Bullriding">
        </datalist><br>
        <input class="button" type="submit" value="Submit">
    </form>
</section>