<div class="box column is-one-quarter">
    <div class="field has-text-centered">
        <h4 class="title has-text-danger">Buck it!!</h4>
        <h4 class="title has-text-danger">Open the shoot and sign-up today!</h4>
    </div>
    <form class="signup-form">
        <div>
            <p class="control has-icons-left">

                <!-- input for signup user name -->
                <input id="userInfo" class="input" type="username" placeholder="Username" />
                <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </span>
            </p>
        </div>

        <div>
            <p class="control has-icons-left">

                <!-- input for signup email -->
                <input id="emailGetter" class="input" type="email" placeholder="Email" />
                <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                </span>
            </p>
        </div>

        <div class="field">
            <p class="control has-icons-left">

                <!-- input for signup password -->
                <input id="passwordGetter" class="input" type="password" placeholder="Password" />
                <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                </span>
            </p>
        </div>

        <div class="field">
            <p class="control">

                <!-- button for signup submit -->
                <button type="submit" class="button is-success">SUBMIT</button>
            </p>
        </div>
    </form>
</div>

<!-- linking to static javacript for signup, with absolute path -->

<script src="/javascript/signup.js"></script>